<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<title></title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body ng-controller="myController">
	<div>
		<ul>
			<li ng-repeat="country in countries"> <!-- alternatively can also use ng-init = "parentIndex=$index" -->
				{{country.name}} -Index = {{$index}}
				<ul>
					<li ng-repeat="city in country.cities">
					{{city.name}} - Parent Index = {{$parent.$index}} , -Index = {{$index}}
					</li>
				</ul>
			</li>
		</ul>


	</div>
	
	

</body>
</html>